{
  "presets": [
    ["minify", {"builtIns": false}],
    "@babel/preset-react",
    ["@babel/env", {
      "modules": false
    }]
  ],
  "plugins": [
    ["@babel/transform-runtime", { "useEsModules" : true }],
    "macros",
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-proposal-object-rest-spread", { "loose": true }],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-object-assign",
    "inline-json-import",
    ["asset-loader", {
      "name": "[name].[ext]",
      "extensions": ["jpg", "png", "gif", "jpeg"],
      "outputPath": "build/asset/images" 
    }],
    ["asset-loader", {
      "name": "[name].[ext]",
      "extensions": ["svg"],
      "outputPath": "build/asset/svg" 
    }, "svg"],
    "transform-import-styles"
  ],
  "env": {
    "development": {
      "presets": [["@babel/preset-react", { "development": true }]]
    }
  },
  "ignore": [
      "**/*.test.js",
      "**/*.spec.js",
      "src/index.js"
  ]
}